<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <!-- State Json-->
    <add key="StateJson" value="Bihar\Data\State.json"/>
    
    <!-- Hierarchy Data -->
    <add key="ACs" value="Bihar\Data\AdminData\AssemblyConstituencies.txt" />
    <add key="CensusDataDirectory" value="Bihar\Data\CensusData" />
    <add key="BiharDistrictsHtmlPage" value="bihar.html"/>
    <add key="StateDivisionsFilename" value="Bihar\Data\AdminData\SubDivisions.txt" />
    <add key="ACShapefile" value="CommonData\ShapeFiles\bihar\bihar.assembly.shp" />
    <add key="BoothShapefile" value="CommonData\ShapeFiles\bihar\bihar.booth.shp" />
    <add key="PCShapefile" value="CommonData\ShapeFiles\bihar\bihar.parliamentary.shp" />
    <!-- Hierarchy Data -->
    <!-- Results Data -->
    <add key="2014PollingBoothWiseResults" value="Bihar\Data\Results\2014PollingBoothWise" />
    <add key="2009PollingBoothWiseResults" value="Bihar\Data\Results\2009PollingBoothWise" />
    <add key="2010PollingBoothWiseResults" value="Bihar\Data\Results\2010PollingBoothWise" />
    <add key="2005PollingBoothWiseResults" value="Bihar\Data\Results\2005PollingBoothWise" />
    <add key="2005FebPollingBoothWiseResults" value="Bihar\Data\Results\2005FebPollingBoothWise" />
    <add key="2015ByPollPollingBoothWiseResults" value="Bihar\Data\Results\2015ByPollPollingBoothWise" />
    <!-- Results Data -->
    <!-- Estimates From Internet-->
    <add key="MuslimPopulationDistrictWise" value="" />
    <add key="MuslimPopulationACWise" value="" />
    <!-- Estimates From Internet-->
    <!-- CVoter Data -->
    <add key="2015Qualitative" value="Bihar\Data\CVoterData\2015\Qualitative" />
    <add key="2014ExitPoll" value="Bihar\Data\CVoterData\2014\ExitPoll\Bihar_exit_poll_data_2014.xlsx" />
    <add key="2010QualitativeCandParams" value="Bihar\Data\CVoterData\2010\Qualitative\BiharQualitativeData_2010_CandidateParameters.tsv" />
    <add key="2010QualitativeCasteShares" value="Bihar\Data\CVoterData\2010\Qualitative\BiharQualitativeData_2010_CasteShare.tsv" />
    <add key="2010QualitativeDevelopmentParams" value="Bihar\Data\CVoterData\2010\Qualitative\BiharQualitativeData_2010_DevelopmentParameters.tsv" />
    <add key="2010QualitativeLocalIssues" value="Bihar\Data\CVoterData\2010\Qualitative\BiharQualitativeData_2010_LocalIssues.tsv" />
    <add key="2010QualitativePartyParams" value="Bihar\Data\CVoterData\2010\Qualitative\BiharQualitativeData_2010_PartyParameters.tsv" />
    <add key="2010Prepoll" value="Bihar\Data\CVoterData\2010\PrePoll\2010CleanedUp.tsv" />
    <add key="2010ExitPoll" value="Bihar\Data\CVoterData\2010\ExitPoll\Bihar Exitpoll Master Data 2010.xlsx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>